.alphabetlist{

    list-style: none;
    counter-reset: sublist;
    padding-left: 0;


}
.alphabetlist > li{

    counter-increment: sublist;
    margin-bottom: 6px;
}


.alphabetlist >li:before{

    content: "(" counter(sublist, lower-alpha) ") ";
  margin-right: 5px; 




}